<!DOCTYPE html>
<html>
<head>
    <title>Student Performance Predictor</title>
</head>
<body>

    <h2>Student Performance Predictor</h2>

    <form action="/predict" method="post">
        
        <label>Study Hours:</label><br>
        <input type="number" name="hours" required><br><br>

        <label>Attendance (%):</label><br>
        <input type="number" name="attendance" required><br><br>

        <label>Previous Marks:</label><br>
        <input type="number" name="previous_marks" required><br><br>

        <input type="submit" value="Predict">
    
    </form>

    <h3>{{ prediction_text }}</h3>

</body>
</html>